<h1 style="text-align: center;">Patient Appointment History</h1>

<div class="row" style="margin: 1%;">
    <div class="col-sm-3">
      <!-- <mat-card class="card"  > -->
        <img src="https://media.istockphoto.com/photos/doctor-holding-digital-tablet-at-meeting-room-picture-id1189304032" height="80%" width="80%">

        
    
            

      <!-- </mat-card> -->
    </div>
    <div class="col-sm-3">
      <!-- <mat-card class="card"  > -->
        <div>
            <h3>Name</h3>
            <h4>Department</h4>
            <button>Download Prescription</button>
        </div>

      <!-- </mat-card> -->
    </div>
    <div class="col-sm-2">
     
       <a href="http://localhost:4200/appointment"><button  mat-raised-button class="btn btn-success">Follow Ups</button></a>
    
            
</div>
</div>
<div class="row" style="margin: 1%;">
    <div class="col-sm-3">
      <!-- <mat-card class="card"  > -->
        <img src="https://media.istockphoto.com/photos/doctor-holding-digital-tablet-at-meeting-room-picture-id1189304032" height="80%" width="80%">

        
    
            

      <!-- </mat-card> -->
    </div>
    <div class="col-sm-3">
      <!-- <mat-card class="card"  > -->
        <div>
            <h3>Name</h3>
            <h4>Department</h4>
            <button>Download Prescription</button>
        </div>

      <!-- </mat-card> -->
    </div>
    <div class="col-sm-2">
     
       <a href="http://localhost:4200/appointment"><button  mat-raised-button class="btn btn-success">Follow Ups</button></a>
    
            
</div>
</div>
<div class="row" style="margin: 1%;">
    <div class="col-sm-3">
      <!-- <mat-card class="card"  > -->
        <img src="https://media.istockphoto.com/photos/doctor-holding-digital-tablet-at-meeting-room-picture-id1189304032" height="80%" width="80%">

        
    
            

      <!-- </mat-card> -->
    </div>
    <div class="col-sm-3">
      <!-- <mat-card class="card"  > -->
        <div>
            <h3>Name</h3>
            <h4>Department</h4>
            <button>Download Prescription</button>
        </div>

      <!-- </mat-card> -->
    </div>
    <div class="col-sm-2">
     
       <a href="http://localhost:4200/appointment"><button  mat-raised-button class="btn btn-success">Follow Ups</button></a>
    
            
</div>
</div>
  
