
/* .container{
    margin-top: 10%;
    margin-left: 15%;

} */

/* .raw{
    margin-top: 10%;
    margin-left: 15%;
} */

/* .card{
    
    height: 40%;
    width: 30%;
} */

/* .image{
    height: 20%;
    width: 20%;
  
  
    
} */
/* .container{
    background-image: url("https://thumbs.dreamstime.com/z/berlin-charite-hospital-site-emergency-room-main-entrance-germany-january-europe-s-largest-university-clinic-one-most-136641850.jpg");
} */
