
<footer id="footer" class="footer pb-0 bg-black-111" style="padding: 1%;">

  <div class="container pb-10">

      <div class="row multi-row-clearfix">

          <div class="col-sm-6 col-md-3">

              <div class="widget dark">

                  <img alt="Balco Medical Centre" src="https://balcomedicalcentre.com/package/images/balco_logo-white.png">

                  <p class="font-12 mt-20 mb-10 text-justify" style="color: white; padding: 1%;" >VMRF is a non-profit organisation initiated by Vedanta Resources and Bharat Aluminium Co. Ltd. (BALCO) to contribute to the prevention of cancer and its related illnesses through a Centre of Excellence in medical, surgical and radiation oncology. </p>

                  <a class="text-gray font-12" href="https://balcomedicalcentre.com/about"><i class="fa fa-angle-double-right text-theme-colored"></i>Read more</a>



              </div>

          </div>





          <div class="col-sm-6 col-md-2">

              <div class="widget dark">

                  <h5 class="widget-title line-bottom mb-30" style="color: white; font-size: 20px;">Pages</h5>

                  <ul class="list-border list theme-colored angle-double-right" style="font-size: white;">

                      <li style="color: white; font-size: 16px;">

                          Home

                      </li>

                      <li style="color: white;">

                          About Us

                      </li>

                      <li style="color: white;">

                          Specialities

                      </li>

                      <li style="color: white;">

                        Facilities

                      </li>

                      <li style="color: white;">

                          Doctors

                      </li>

                      <li style="color: white;">

                          Events

                      </li>

                      

                      <li style="color: white;">

                         Career

                      </li>

                      <li style="color: white;">

                         Recruitment Disclaimer

                      </li>

                      

                  </ul>

              </div>

          </div>



          <div class="col-sm-6 col-md-2">

              <div class="widget dark">

                  Quick Links

                  <ul class="list-border list theme-colored angle-double-right">

                      <li style="color: white;">

                         Appointment

                      </li>

                      <li style="color: white;">

                         Contact Us

                      </li>

                      <li style="color: white;">

                         Vedanta Resources

                      </li>

                      <li style="color: white;">

                          BMC Compliances

                      </li>
                       <li style="color: white;">


                          <a  style="font-size: 12px;font-weight: bolder;color: #e89a11;">Gate Pass  </a>

                      </li>

                      <li style="color: white;">

                          Photo Gallery

                      </li>
                      <li style="color: white;">

                         Press Release

                      </li>

                      <li style="color: white;">

                         Privacy Policy

                      </li>

                      <li>

                          Terms and Conditions

                      </li>

                  </ul>

              </div>

          </div>





          <div class="col-sm-6 col-md-3">

              <div class="widget dark">

                 Quick Contact

                  <ul class="list list-border">

                      <li style="color: white;">

                          <i class="fa fa-phone text-white" style="color: white;"></i>

                          <a href="tel:0771-2237575" style="color: white;">0771-2237575</a>

                      </li>

                      <li style="color: white;">

                          <i class="fa fa-phone text-white" ></i>

                          <a href="tel:8282823333" style="color: white;">+91 8282823333</a>

                      </li>

                      <li style="color: white;">

                          <i class="fa fa-phone text-white"></i>

                          <a href="tel:8282824444" style="color: white;">+91 8282824444</a>

                      </li>

                      <li style="color: white;">

                          <i class="fa fa-envelope-o text-white"></i>

                         info.vmrf@vedanta.co.in

                      </li>

                      <li style="color: white;">

                          <i class="fa fa-envelope-o text-white"></i>

                        careers.vmrf@vedanta.co.in

                      </li>

     <li>


                          <a style="font-size: 12px;font-weight: bolder;color: #e89a11;cursor: none;">OPD Services : Mon-Sat, 09:00 - 17:30 </a>

                      </li>

                      <li style="color: white;">


                          <a  style="font-size: 12px;font-weight: bolder;color: #e89a11;cursor: none;">IPD & Emergency services : 24 Hrs  </a>

                      </li>

                      <!-- <ul class="social-icons icon-dark mt-20">



                          <li class="border_no" style="color: white;">

                              <a class="circle bg-success" target="blank"style="color: white;" href="https://www.facebook.com/BALCOMedical/" data-bg-color="#3B5998">

                                  <i class="fa fa-facebook " ></i></a>

                          </li>

                          <li class="border_no">

                              <a class="circle" target="blank" href="https://twitter.com/BalcoMedical/" data-bg-color="#02B0E8">

                                  <i class="fa fa-twitter"></i></a>

                          </li>

                          <li class="border_no">

                              <a class="circle" target="blank" href="https://in.linkedin.com/company/balcomedicalcentre" data-bg-color="#0077B5"><i class="fa fa-linkedin text-white"></i></a>

                          </li>

                          <li class="border_no">

                              <a class="circle" target="blank" href="https://www.youtube.com/channel/UCjcmTU8rE1rKzDvNnL3dakg" data-bg-color="#C22E2A"><i class="fa fa-youtube"></i></a>

                          </li>

                      </ul>
 -->
                  </ul>

              </div>

          </div>


         

      </div>
  </div>
 
</footer>



<!-- <footer class="footer">
    
    <div class="row">
      <div class="col-sm-3">
        <mat-card class="card" style="background-color: rgb(14, 15, 15);" >
          <div><img src="/assets/photos/balco.jpg" height="40" width="40">
            <h1 style="color: white;">Balco</h1>
          <h3 style="color: white;">Medical center</h3>
          </div>
          
      
              
  
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card class="card" style="background-color: rgb(14, 15, 15);" >
          <h3 style="color: white;">Pages</h3>
          
      
              
  
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card class="card" style="background-color: rgb(14, 15, 15);" >
          <h3 style="color: white;">Links</h3>
      
              
  
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card class="card" style="background-color: rgb(14, 15, 15);" >
          
          <h3 style="color: white;">contacts</h3>
              
  
        </mat-card>
      </div>
      
     
    </div>
  </footer> -->
