<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(174, 225, 245);">
    
    <a class="navbar-brand" href="#" style="color: white;"><img class="rounded-circle" src="/assets/photos/img.jpg" width="60" height="60" style="margin-left: 1%;"></a>
    <h2 style="color: rgb(7, 128, 47) ; font-size: 25px; margin-top: 1%;" >Hospital Appointment System</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="margin-left: 700px ;">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/home" style="color: rgb(12, 10, 10); font-size:20px ;">Home </a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/about" style="color: rgb(3, 3, 3);font-size:20px ;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/contact" style="color: rgb(14, 11, 11);font-size:20px ;">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/doctors" style="color: rgb(14, 11, 11);font-size:20px ;">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/login" style="color: rgb(14, 11, 11); margin-left: 85px;font-size:20px ;">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="http://localhost:4200/signup" style="color: rgb(14, 11, 11); margin-left: 4px;font-size:20px ;">Registration</a>
        </li>
       
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"  aria-expanded="false">
           Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Admin</a>
            <a class="dropdown-item" href="#">User</a>
           
          </div>
        </li> -->
        
        <li class="nav-item">
          <a class="nav-link " href="http://localhost:4200/appadmin" style="color: rgb(14, 11, 11); margin-left: 4px;font-size:20px ;">Admin</a>
        </li>
       

        
      </ul>
    </div>
  </nav>
  
 
 

<!-- <nav class="navbar">

<a class= "navbar-brand"href="#"><img src="https://previews.123rf.com/images/distrologo/distrologo1902/distrologo190201255/117628556-family-care-logo-design-template-child-on-the-heart-shape-with-hand-care-illustration.jpg?fj=1" width="40" height="40" >Hospital</a>
<ul class="navbar-nav ">
   <table class="ml">
    <tr>
        <td>
        <li class="nav-item">
            <a href="#" class="nav-link" style="text-decoration: none; text-align: text-center;">Home</a>
        </li></td>
        <td>
        <li class="nav-item">
            <a href="#" class="nav-link" style="text-decoration: none; text-align: text-center;">Home</a>
        </li></td>
        <td>
        <li class="nav-item">
            <a href="#" class="nav-link" style="text-decoration: none; text-align: text-center;">Home</a>
        </li>
    </td>
    </tr>
   </table>
</ul>
</nav> -->

<!-- 
<mat-toolbar class="nav">
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    
    <span>Hospital Booking</span>
    <div id="menu-outer" > 
        <nav class="navbar">
            
    <div class="table">
    <ul id="horizontal-list">
      
        <table>
            <tr>

    <td>       
    <li class="logo" style="float: left;" >
    <a href="#" style="text-align: 15;" ><img src="https://previews.123rf.com/images/distrologo/distrologo1902/distrologo190201255/117628556-family-care-logo-design-template-child-on-the-heart-shape-with-hand-care-illustration.jpg?fj=1"
    width="40" 
    height="40" ></a>
    </li></td>
    <td>
    <li class="nav-item active">
    <a class="nav-link" href="http://localhost:34993/home" style="text-decoration: none;" >Home </a>

    </li>
</td>
<td>
    <li class="nav-item">
    <a class="nav-link" style="text-decoration: none;" href="#">About</a>
    </li>
    </td>
    <td>
    <li class="nav-item">
    <a class="nav-link" style="text-decoration: none;" href="#">User Login</a>
    </li>
    </td>
    <td>
    <li class="nav-item">
    <a class="nav-link" style="text-decoration: none;" href="#">Admin Login</a>
    </li>
    </td>
    <td>
    <li class="nav-item">
    <a class="nav-link" style="text-decoration: none;" href="#">Registration</a>
    </li>
    </td>
    <td>
    <li class="nav-item">
    <a class="nav-link" href="#" style="text-decoration: none;">Contact</a>
    </li>
    </td>
    <td>
    <li class="nav-button" style="float: right;" >
    <a class="nav-link" href="#" > <button mat-raised-button color="accent" >Abook appointment</button></a>
    </li>
    </td>
</tr>
</table>
    </ul>
    </div>
        </nav>
    </div>
    
    </mat-toolbar>
    
    
     -->


     