

<!-- <div class="container">
    <img src="/assets/photos/hos.jpg"
style="height: 100%; width:100%">
 <div>
<h1>Medi-Care</h1>
<h3> World Class Doctors and Medical Equipment</h3>

<button mat-raised-button>Learn More

</button>
  </div>

</div>  -->

<div style="background-color: rgb(233, 222, 211); " >
<div class="container" >
    <img src="/assets/photos/hos.jpg"  style="height: 30%; width:100%">
    <div style="position: absolute; top: 100% ;left: -5%; margin-top: 11%;">
      <mat-card >
  <img  class="rounded-circle" src="https://balcomedicalcentre.com/package/images/icon/surgical_oncology.png"  >
   <p style="margin-top: 10%; font-size: 16px;">SURGICAL ONCOLOGY</p>
  </mat-card>
</div>
<div style="position: absolute; top: 100% ;left: 11%; margin-top: 11%;">
<mat-card>
  <img  class="rounded-circle" src="https://balcomedicalcentre.com/package/images/icon/radiation_oncology.png"  >
  <p style="margin-top: 10%;font-size: 16px;">RADIATION ONCOLOGY</p>
</mat-card>
</div> 
<div style="position: absolute; top: 100% ;left: 27%; margin-top: 11%;">
  <mat-card> 
  <img  class="rounded-circle" src="https://balcomedicalcentre.com/package/images/icon/medical_oncology.png"  >
  <p style="margin-top: 10%;font-size: 16px;">MEDICAL ONCOLOGY</p>
</mat-card>
</div>
<div style="position: absolute; top: 100% ;left: 43%; margin-top: 11%;">
  <mat-card>    
  <img  class="rounded-circle" src="https://balcomedicalcentre.com/package/images/icon/pain_and_palliative_care.png" >
  <p style="margin-top: 10%;font-size: 16px;">PAIN ,PALITIVE CARE</p>
  </mat-card>
  </div>
  <div style="position: absolute; top: 100% ;left: 59%; margin-top: 11%;">
    <mat-card>
  <img  class="rounded-circle" src="https://balcomedicalcentre.com/package/images/icon/laboratory_services.png"  >
  <p style="margin-top: 10%;font-size: 16px;">LABORATORY SERVICE</p>
</mat-card>
</div>

  <div style="position: absolute; top: 100% ;left: 75%; margin-top: 11%;  ">
    <mat-card>
    <img  class="rounded-circle" src="https://balcomedicalcentre.com/package/images/icon/radiology_services.png" >
    
     <p style="margin-top: 10%;font-size: 16px;">RADIOLOGY SERVICEY</p>
    </mat-card>
    </div>
    <div style="position: absolute; top: 100% ;left: 91%; margin-top: 11%; right: -6%;">
      <mat-card>
      <img  class="rounded-circle" src="https://balcomedicalcentre.com/package/images/icon/intensive_care.png" >
  
       <p style="margin-top: 10%;font-size: 16px;">INTENSIVE CARE</p>
      </mat-card>
      </div>
   <div   style="position: absolute; top: 50% ;left: 33% ; " >
    
     
     <mat-card style="height: 55%; width: 50%;">
       <img src="https://cdn.apollohospitals.com/dev-apollohospitals/2021/04/instituteexpertises.jpg" height="300" width="100%">
       <h1 style="margin-top: 2%; font-size:28px ; color: blue;">
      Our Missioon
     </h1>
       <p style="font-size: 18px;">
        Through careful and long-term thinking, this author held: Doctor's Mission is to cure the sickness to save the patient. This is a summary of Doctor's Mission, which consists of three aspects and three levels, namely, medical science research, medical education and diagnosis and treatment of patient.</p></mat-card>
     <!-- <img src="https://cdn.apollohospitals.com/dev-apollohospitals/2021/04/instituteexpertises.jpg" height="50%" width="50%"
      style="position: absolute; top: 70% ;left: 25%;"> -->
    
     </div>


    <div class="centered" style="color: rgb(100, 103, 240);  "><h1 style="font-size: 40px;">Welcome...</h1></div>
    <div class="centered1" style="color: rgb(7, 7, 7);"><p style="font-size: 25px; margin-top: 2%;" > World Class Doctors and Medical Equipment</p></div>
    <div class="centered2" style="color: rgb(242, 242, 250); font-size: 16px;"><a href="http://localhost:4200/about"><button style="height: 40px;" mat-raised-button color="primary">Learn More -->

      </button></a></div>
    
  </div> 
  </div>
  <h1 style="margin-left: 50% ; font-size: 35px; margin-top: 22%;">Our Doctors</h1>
  <footer class="speci">
  
   <div class="row" style="margin-left: 9%; margin-right:9%">
    <div class=" col-sm-2" >
      <mat-card class="card"  >
        <div>
          <img  class="rounded-circle"  style="margin-left:10%" alt="80x80" src="https://balcomedicalcentre.com/uploads/doctor/dr-sandeep-ojha.jpg" data-holder-rendered="true"  height="80%" width="80%">
          <p style="font-size:16px">Name<p>  
        <p style="margin-top: 0; font-size: 16px;">Department</p>
        </div>
        </mat-card>
        </div>
        <div class=" col-sm-2" >
          <mat-card class="card"  >
            <div><img  class="rounded-circle" style="margin-left:10%" alt="80x80" src="https://balcomedicalcentre.com/uploads/doctor/dr-manisa-sahu.jpg" data-holder-rendered="true"  height="80%" width="80%">
              <p style="font-size:16px">Name<p>  
                <p style="margin-top: 0; font-size: 16px;">Department</p>
            </div>
            </mat-card>
            </div>
            <div class=" col-sm-2" >
              <mat-card class="card"  >
                <div><img  class="rounded-circle" alt="80x80"style="margin-left:10%"  src="https://balcomedicalcentre.com/uploads/doctor/dr-jayesh-sharma.jpg" data-holder-rendered="true"  height="80%" width="80%">
                  <p style="font-size:16px">Name<p>  
                    <p style="margin-top: 0; font-size: 16px;">Department</p>
                </div>
                </mat-card>
                </div>
                <div class=" col-sm-2" >
                  <mat-card class="card"  >
                    <div><img  class="rounded-circle" style="margin-left:10%" alt="80x80" src="https://balcomedicalcentre.com/uploads/doctor/dr-shreshtha-tiwari.jpg" data-holder-rendered="true"  height="80%" width="80%">
                      <p style="font-size:16px">Name<p>  
                        <p style="margin-top: 0; font-size: 16px;">Department</p>
                    </div>
                    </mat-card>
                    </div>
                    <div class=" col-sm-2" >
                      <mat-card class="card"  >
                        <div><img  class="rounded-circle" style="margin-left:10%"alt="80x80" src="https://balcomedicalcentre.com/uploads/doctor/dr-rashmi-rai.jpg" data-holder-rendered="true"  height="80%" width="80%">
                          <p style="font-size:16px">Name<p>  
                            <p style="margin-top: 0; font-size: 16px;">Department</p>
                        </div>
                        </mat-card>
                        </div>
                        <div class=" col-sm-2" >
                          <mat-card class="card"  >
                            <div><img  class="rounded-circle" style="margin-left:10%" alt="80x80" src="https://balcomedicalcentre.com/uploads/doctor/dr-rashmi-rai.jpg" data-holder-rendered="true"  height="80%" width="80%">
                              <p style="font-size:16px">Name<p>  
                                <p style="margin-top: 0; font-size: 16px;">Department</p>
                            </div>
                            </mat-card>
                            </div>
        </div>
  </footer>


 