<h1 style="text-align: center; color: rgb(42, 147, 165); margin-top: 2%; font-size: 40px; ">Profile</h1>

<div class="row" style="margin-left: 20%;">
    <div class="col-sm-4">
      <mat-card class="card" >
        <div> <img src="https://balcomedicalcentre.com/uploads/doctor/dr-rashmi-rai.jpg" height="100%" width="100%">
            <p style="font-size: 16px; margin-top:1%">Name</p>
            <p style="font-size: 16px;">Department</p>
           <a href="http://localhost:4200/appointment"><button mat-raised-button class="btn btn-success" style="font-size: 16px;">Book Appointment</button></a>
        </div> 
        
    
            

      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card class="card" >
       <div>   <h3 style="color: rgb(252, 103, 17); font-size: 20px;">Education</h3>
        <p style="color: rgb(5, 5, 5); font-size: 16px;">Experience</p>
        <p style="color: rgb(3, 3, 3); font-size: 16px;">Specialisation</p>
        <p style="color: rgb(3, 3, 3);font-size: 16px;">Area of Interest</p>
    </div>
        
    
            

      </mat-card>
    </div>
